body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.logo {
    width: 200px;
    height: 200px;
    margin-right: 10px;
}

.container {
    max-width: 900px;
}

.nav-tabs .nav-link {
    font-weight: bold;
}

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1050;
}
.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #007bff;
    color: white;
}

.modal-body {
    font-family: Arial, sans-serif;
}

.modal-footer {
    display: flex;
    justify-content: center;
}
/* Estilo para a mensagem de confirmação */
#confirmationMessage {
    margin-top: 20px;
}

.alert-heading {
    font-size: 1.25rem;
    font-weight: bold;
}

.alert p {
    font-size: 1rem;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
    border-radius: 10px;
}

